html {
    height: 100vh;
}

body {
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
    height: 100%;
}

img {
    max-width: 325px;
    display: block;
    margin: 0 auto;
}

p span {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(325px, 1fr) );
}

.selected-cards-container > .card-grid {
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
}

.selected-cards-container > img {
    max-width: 250px;
}

.card-grid-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    max-width: 325px;
}

.selected-cards-container .card-grid-container {
    max-width: 250px;
}

.card-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.card-row-img {
    padding: 5px;
}

.card-row img {
    width: 10vw;
}

.pill {
    pointer-events: none;
    border: none;
    margin-right: 5px;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 0.8em;
}

.pill.info {
    background-color: #1484a1;
    color: white;
    font-weight: bold;
}

.pill.error {
    background-color: #a11414;
    color: white;
    font-weight: bold;
}

.icon-container {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
}

.icon-link {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    transition: transform .2s;
}

.icon-link:hover {
    transform: scale(1.15);
}

.vertical-centre {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.app-logo {
    width: 5vw;
    max-width: 100px;
}

.nav-link {
    height: 100%;
    padding: 0vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    opacity: 66%;
    transition: opacity .2s;
    transition: background-color .2s;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

.nav-link.selected {
    background-color: rgba(0, 0, 0, 0.05);
}

header {
    display: flex;
    flex-flow: row nowrap;
    max-height: 200px;
    justify-content: start;
}

.logo-container {
    align-self: stretch;
    padding: 0vh 2vw;
    max-width: 100px;
}

.nav-links-container {
    width: 100%;
    max-width: 20vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.clickable {
    height: 100%; /* ? */
}

.click-enabled:hover {
    cursor: pointer;
}

.selected {
    opacity: 100%;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    max-height: 50px;
}

.vertical-centre-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vertical-centre-inner {
    align-items: center;
}

.scroll-box-container {
    height: 100%; /* TODO fix */
}

.scroll-box {
    height: 100%;
    overflow: auto;
}

button.selected {
    background: darkgrey;
}

.card-grid-container {
    transition: filter .1s;
}

.excluded {
    filter: grayscale(1);
}

.cards-preview {
    position: relative;
    min-height: 200px;
}

.cards-preview img {
    width: 50%;
    height: 50%;
    margin: 0;
}

.cards-preview-0, .cards-preview-1, .cards-preview-2 {
    position: absolute;
}

.cards-preview-1 {
    left: 3rem;
    top: 1rem;
}

.cards-preview-2 {
    left: 6rem;
    top: 2rem;
}
